body {
  margin: 0;
  font-family: 'Old Standard TT', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.selected{
  background-color: #1C6EA4;
  padding:  0px 16px 0px 16px;
  color: rgb(234, 232, 228);
}
.active{
  background-color: #1C6EA4;
  padding:  15px;
  color: rgb(234, 232, 228);
}

